@media screen and (max-width: 800px) {


    .image-and-description {

        flex-direction: column;
        align-items: center;
    }

    .image-and-description .description {
        margin-top: 0;

    }

    .image-and-description .description p1 {
        
        left: 0;

    }

    .image-and-description .personal-image {
        margin-top: 0rem;
    }
  
    .countactUs {
        width: 90%;
        top: 0;
    }

   
}

@media screen and (max-width: 350px) {
    .image-and-description .description {
        font-size: 10px;
        width: 15rem;
    }

    .image-and-description .description p {
        font-size: 20px;
        width: 230px;
    }

    .image-and-description .description h1 {
        font-size: 22px;
        width: 180px;
    }

    .image-and-description .description  p1 {
        top: 0px;
    }
}
@media screen and (max-height: 700px) {
    .image-and-description .description {
        margin-top: 0;

    }
    .image-and-description .personal-image {
        margin-top: 0;
    }

}

@media screen and (max-height: 520px) {

    .image-and-description .personal-image img {
        width: 70%;
    
    }
    .countactUs {
        position: absolute;
        top: 2rem;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;


    }
    .countactUs a{
        margin: 1rem;

    }
}